[package]
name = "lazrs"
version = "0.5.2"
authors = ["tmontaigu <thomas.montaigu@laposte.net>"]
edition = "2021"
license = "MIT"
description = "Python bindings for laz-rs"
readme = "README.md"

[lib]
name = "lazrs"
crate-type = ["cdylib"]

[dependencies.laz]
version = "0.8.2"
features = ["parallel"]

[dependencies.pyo3]
version = "0.19.1"
features = ["extension-module"]
